<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Lift App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>
        Rellena los campos
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Edificio</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One"
      [(ngModel)]="proyecto">
        <ion-select-option value="f">DelPino</ion-select-option>
        <ion-select-option value="m">Commeva</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Piso</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One"
      [(ngModel)]="piso">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>

 <h3>{{proyecto}}</h3>
 <h3>{{piso}}</h3>
  <ion-button (click)="OnLogOut()">Cerrar Sesion</ion-button>

</ion-content>
